
body{
    font-family: 'Poppins', sans-serif;
    
}

h1{
    font-size: 50px;
}
.hello{
    color: #363958;
}
.Shumon{
    color: #FF8367;
}

.half-width{
    width: 40px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 200%;
}