
body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.hello{
    color: #363958;
}
.Shumon{
    color: #FF8367;
}

.main-half-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}


.main-half-section img{
    width: 100%;
}
.top-banner{
    border: 1px solid red;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}