
body{
    font-family: 'Poppins', sans-serif;
    background-color: #E8f9fc;
}

h1{
    font-size: 50px;
}
.hello{
    color: #363958;
}
.Shumon{
    color: #FF8367;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    line-height: 24px;
    margin-bottom: 40px;
}